<% provide(:title, 'Item') %>

<div class="container">
  <h1>Item details</h1>

  <div class="row">
    <div class="jumbotron">
      <div class="subtext">
        <p><b>Name:</b> <%= @item.name %> </p>
        <p><b>Description:</b> <%= @item.description %> </p>
        <p><b>Quantity:</b> <%= @item.quantity %> </p>
        <p><b>Contact:</b> <%= @item.user.email %> </p>
      </div>
    </div>
  </div>
</div>  

<%= button_to "Back", { action: "index" }, method: :get, class: "btn btn-primary btn-small" %>



