<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>DoDonate</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '/home' %></li>
        <li><%= link_to "About", '/about' %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", '/profile' %></li>
          <li><%= link_to "Log out", '/logout', method: :delete %></li>
		    <% else %>
		      <li><%= link_to "Log in", '/login' %></li>
		    <% end %>
      </ul>
    </nav>
  </div>
</header>