<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <a href="/home">
        <ul class="nav navbar-nav navbar-left">
          <li><%= image_tag("dodo-white.png", class: "logo") %></li>
          <li class="navbar-title">
            <b class="dodo">Dodo</b>nate
          </li>
        </ul>
      </a>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", profile_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
		    <% else %>
		      <li><%= link_to "Log in", login_path %></li>
		    <% end %>
      </ul>
    </nav>
  </div>
</header>